.form{
	background: #dddd;
}

.form1{
	background: green;
}

.form2{
	background: blue;
	color: #ffff;
}

.videok{
	background: #ffffff;
	text-align: center;
}

.wbr{
	background: #dddd;
}

.svg{
	background: #676767;
}